In [1]:
#importing required modules or libraries

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score,accuracy_score

In [2]:
#loading dataset
df=pd.read_csv("car.csv")
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [3]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [4]:
df.shape

(205, 26)

In [5]:
'''
    As there are so many featuers we use some of the features among all 9
'''

'\n    As there are somany featuers we use some of the features among all 9\n'

In [6]:
df=df[['CarName','fueltype','horsepower','enginetype','enginesize','peakrpm', 'citympg', 'highwaympg','price']]
df

,CarName,fueltype,horsepower,enginetype,enginesize,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,gas,111,dohc,130,5000,21,27,13495.0
1,alfa-romero stelvio,gas,111,dohc,130,5000,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,154,ohcv,152,5000,19,26,16500.0
3,audi 100 ls,gas,102,ohc,109,5500,24,30,13950.0
4,audi 100ls,gas,115,ohc,136,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,114,ohc,141,5400,23,28,16845.0
201,volvo 144ea,gas,160,ohc,141,5300,19,25,19045.0
202,volvo 244dl,gas,134,ohcv,173,5500,18,23,21485.0
203,volvo 246,diesel,106,ohc,145,4800,26,27,22470.0
204,volvo 264gl,gas,114,ohc,141,5400,19,25,22625.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CarName     205 non-null    object
 1   fueltype    205 non-null    object
 2   horsepower  205 non-null    int64
 3   enginetype  205 non-null    object
 4   enginesize  205 non-null    int64
 5   peakrpm     205 non-null    int64
 6   citympg     205 non-null    int64
 7   highwaympg  205 non-null    int64
 8   price       205 non-null    float64
dtypes: float64(1), int64(5), object(3)
memory usage: 14.5+ KB

In [8]:
df['CarName'].unique(),df['fueltype'].unique()

(array(['alfa-romero giulia', 'alfa-romero stelvio',
        'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
        'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
        'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
        'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
        'dodge rampage', 'dodge challenger se', 'dodge d200',
        'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
        'dodge coronet custom', 'dodge dart custom',
        'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
        'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
        'honda accord', 'honda civic 1300', 'honda prelude',
        'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
        'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
        'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
        'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
        'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
        'buick electra 225 custom', 'buick century luxus (sw)',
        'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
        'buick skylark', 'buick century special',
        'buick regal sport coupe (turbo)', 'mercury cougar',
        'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
        'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
        'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
        'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
        'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
        'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
        'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
        'peugeot 505s turbo diesel', 'plymouth fury iii',
        'plymouth cricket', 'plymouth satellite custom (sw)',
        'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
        'porsche macan', 'porcshce panamera', 'porsche cayenne',
        'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
        'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
        'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
        'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
        'toyota corolla 1200', 'toyota corona hardtop',
        'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
        'toyota corolla', 'toyota corolla liftback',
        'toyota celica gt liftback', 'toyota corolla tercel',
        'toyota corona liftback', 'toyota starlet', 'toyota tercel',
        'toyota cressida', 'toyota celica gt', 'toyouta tercel',
        'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
        'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
        'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
        'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
        'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
        'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object),
 array(['gas', 'diesel'], dtype=object))

In [9]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['CarName']=lb.fit_transform(df['CarName'])
df['fueltype']=lb.fit_transform(df['fueltype'])
df['enginetype']=lb.fit_transform(df['enginetype'])

C:\Users\tumat\AppData\Local\Temp\ipykernel_11256\2803749273.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CarName']=lb.fit_transform(df['CarName'])
C:\Users\tumat\AppData\Local\Temp\ipykernel_11256\2803749273.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fueltype']=lb.fit_transform(df['fueltype'])
C:\Users\tumat\AppData\Local\Temp\ipykernel_11256\2803749273.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['enginetype']=lb.fit_transform(df['enginetype'])

In [10]:
df

,CarName,fueltype,horsepower,enginetype,enginesize,peakrpm,citympg,highwaympg,price
0,2,1,111,0,130,5000,21,27,13495.0
1,3,1,111,0,130,5000,21,27,16500.0
2,1,1,154,5,152,5000,19,26,16500.0
3,4,1,102,3,109,5500,24,30,13950.0
4,5,1,115,3,136,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...
200,139,1,114,3,141,5400,23,28,16845.0
201,138,1,160,3,141,5300,19,25,19045.0
202,140,1,134,5,173,5500,18,23,21485.0
203,142,0,106,3,145,4800,26,27,22470.0
204,143,1,114,3,141,5400,19,25,22625.0

In [11]:
x=df[['CarName','fueltype','horsepower','enginetype','enginesize','peakrpm', 'citympg', 'highwaympg']]
y=df['price']

In [12]:
x #independent variables

,CarName,fueltype,horsepower,enginetype,enginesize,peakrpm,citympg,highwaympg
0,2,1,111,0,130,5000,21,27
1,3,1,111,0,130,5000,21,27
2,1,1,154,5,152,5000,19,26
3,4,1,102,3,109,5500,24,30
4,5,1,115,3,136,5500,18,22
...,...,...,...,...,...,...,...,...
200,139,1,114,3,141,5400,23,28
201,138,1,160,3,141,5300,19,25
202,140,1,134,5,173,5500,18,23
203,142,0,106,3,145,4800,26,27
204,143,1,114,3,141,5400,19,25

In [13]:
y #dependent variables

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split
# Perform one-hot encoding for categorical features
X = pd.get_dummies(x)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [15]:
# Create and train the random forest regression model
forest_model = RandomForestRegressor()
forest_model.fit(X_train, y_train)
forest_pred = forest_model.predict(X_test)

forest_mse = mean_squared_error(y_test, forest_pred)
forest_r2 = r2_score(y_test, forest_pred)

In [16]:
# Create and train the linear regression model
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_pred = linear_model.predict(X_test)

linear_mse = mean_squared_error(y_test, linear_pred)
linear_r2 = r2_score(y_test, linear_pred)

In [17]:
# Print the evaluation metrics for each model
print("Linear Regression:")
print("Mean Squared Error:", linear_mse)
print("R^2 Score:", linear_r2)
print()

print("Random Forest Regression:")
print("Mean Squared Error:", forest_mse)
print("R^2 Score:", forest_r2)
print()

Linear Regression:
Mean Squared Error: 13763049.703599581
R^2 Score: 0.8256606447170967

Random Forest Regression:
Mean Squared Error: 3521650.042372916
R^2 Score: 0.9553905412578196

In [18]:
# Determine the best model based on the evaluation metrics
best_model = min([(linear_mse, 'Linear Regression'),
                  (forest_mse, 'Random Forest Regression')])

print("Best Model:", best_model[1])
print("Mean Squared Error:", best_model[0])

Best Model: Random Forest Regression
Mean Squared Error: 3521650.042372916

In [20]:
val=[[2,1,111,0,130,5000,21,27]]
print("car price is ",forest_model.predict(val)[0])

car price is  14350.03

C:\Users\tumat\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(